<div class="item-wrapper">
  <span class="sortable-handle"></span>
  <span class="sortable-list-item-content"> {{desc}} </span>
  {{icon-button btnType="menuToggleBtn" btnAction="menuTriggeredAction"}}
  {{#if isMenuVisible}}
    {{project-popup-menu}}
  {{/if}}
</div>
