<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="../assets/stylesheets/app.css">
</head>
<body>

  <!-- Sidebar wrapper -->
  <div class="sidebar-wrapper">
    
    <!-- Sidebar banner -->
    <div class="sidebar-banner">
      <div class="sidebar-logo">
        <a href="#" class="sidebar-logo-icon"></a>
      </div>
    </div> <!-- Sidebar banner -->
    
    <!-- Sidebar top section -->
    <div class="sidebar-top-section">
      <ul class="sidebar-top-filters">
        <li class="inbox-filter">
          <a href="#">Inbox</a>
        </li>
        <li class="today-filter">
          <a href="#">Today</a>
        </li>
        <li class="seven-days-filter">
          <a href="#">7 Days</a>
        </li>
      </ul>
    </div> <!-- Sidebar top section -->
    
    <!-- Sidebar tabs menu -->
    <div class="sidebar-menu">
      <ul class="tabs-menu">
        <li class="tabs-menu-item"><a href="#">Projects</a></li>
        <li class="tabs-menu-item"><a href="#">Labels</a></li>
      </ul>
    </div> <!-- Sidebar tabs menu -->
    
    <!-- Sidebar menu list, could be projects or labels -->
    <div class="sidebar-menu-list">
      <ul class="menu-list">
        <li class="menu-list-item"><a href="#">Test Item</a></li>
        <li class="menu-list-item"><a href="#">Test Item 2</a></li>
      </ul>    
     
      <div class="menu-list-action">
        <a href="#">Add Project</a>
      </div>
    </div>
    
    
  </div> <!-- Sidebar wrapper -->
    
  <!-- Main content wrapper -->
  <div class="main-wrapper"> 
    
    <div class="main-top-sec">
      <p>main top</p>
    </div>
    
    <div class="main-content">
      <p>main content</p>
    </div>
  
  </div>

</body>
</html>
