@mixin separator_line($color: #bdbdbd) {
  border-bottom: 1px solid $color;  
}

@mixin sidebar-list($margin: null null null null) {
  @include margin($margin);
  //margin-left: gutter();
} 

@mixin sidebar-list-item($heigh, $margin: null null null null) {
  @include padding($margin); 
  
  text-decoration: none;
  display: block;
  list-style: none; 
  color: #737373;
  cursor: pointer;
  
  &:hover {
    background-color: #fafafa;
  }
}

@mixin popup-menu($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  z-index: 999;
}

.sidebar-banner {
  @include separator_line;
  height: $sidebar-banner-height;
  .sidebar-logo  {
    padding-top: 5px;
  }
}

.sidebar-logo-icon {
  @include icon-before($fa-var-rss, 32px);
  color: #888;
  text-decoration: none;
}

.sidebar-top-section {
  // @include position(relative);
}

.sidebar-top-filters {
  @include sidebar-list(20px 0 20px 0);
  margin-left: gutter();
  
  a {
    color: #737373;
    text-decoration: none;
    font-weight: 600;
  }
  
  .inbox-filter {
    @include sidebar-list-item(26px, 11px 0 11px 0);
    @include icon-before($fa-var-inbox, 1.5em, 15px);
  }
  .today-filter {
    @include sidebar-list-item(26px, 11px 0 11px 0);
    @include icon-before($fa-var-calendar, 1.5em, 15px);
  }
  .seven-days-filter {
    @include sidebar-list-item(26px, 11px 0 11px 0);
    @include icon-before($fa-var-calendar, 1.5em, 15px);
  }
}

.sidebar-menu {
  .tabs-menu {
    @include horizontal-list;
    @include clearfix;
    @include separator_line;
  }
  .tabs-menu-item {
    @include span(2 of 4);
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      padding-left: 27.5%;
      color: #737373;
      text-decoration: none;
      font-weight: 600;
    }
    &:hover {
      //border-bottom: 2px solid $red;
      background-color: #fff;
    }
  }
}

/** 
 * Projects List Component
 **/
.sidebar-projects-list {
  .projects-list {
    @include sidebar-list(20px 0 20px 0);
  }
  .projects-list-item {
    .sortable-list-item-content {
      color: black;
    }
    &.is-selected {
      .sortable-list-item-content {
        font-weight: bold;
      }
      background-color: #fafafa;
    }
    position: relative;
    @include sidebar-list-item(20px, 10px 0 10px gutter(2));
    .menu-toggle-btn {
      position: absolute;
      right: 10%;
      width: 20px;
      height: 20px;
      padding-left: 10px;
      @include icon-before($fa-var-ellipsis-v, 15px, 10px);
      &:hover {
        background-color: #f00;
      }
    }
    .sortable-handle {
      @include icon-before($fa-var-bars, 10px, 10px);
    }
  }
  .menu-list-action {
    a {
      text-decoration: none;
      color: $red;
      @include icon-before($fa-var-plus, 1em, 10px);
    }
  }
  .ui-state-highlight-my {
    line-height: 1.5em;
    height: 1.5em;
    background-color: #fafafa;
  }
}

/** 
 ** Project Item Popup Menu
 */
.project-item-menu {
  @include popup-menu(50%, 90%);
  @include box-shadow(black 2px 2px 10px);
  @include border-radius(5px);
  background-color: white;
  width: 200px;
  
  .project-menu-entry {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px ;
    &.with-separator {
      border-bottom: 1px solid red; 
    }
    &:hover {
      background-color: #aaa;
    }
  }
}

