<div class="sidebar-projects-list">
  {{projects-list items=controller.sortedProjects updateSortable='updateProjectsPriorities' addProject='createProject' removeProject='deleteProject' updateProject='updateProjectDesc'}}
  <button class="add-project-btn btn btn-primary" {{action 'newProject'}}>Add Project</button>
</div>
