<div class="sidebar-projects-list">
  {{#projects-list items=controller.sortedProjects sortedListAction="updatePriorities" as |project| }}
    {{projects-list-item pid=project.id desc=project.desc menuTriggeredAction="showProjectPopupMenu"}}
  {{/projects-list}}
</div>
