{{#each group in controller.taskGroups}}
  <span class="tasks-group-title"> {{group.title}} </span> 
  <span> {{group.formattedDate}} </span>
  {{tasks-list taskItems=group.list updateSortable='updateTasksSortIdx' updateTask='updateTask' removeTask='deleteTask'}}
{{/each}}
