<div class="project-title">
  {{projectName}}
</div>
{{tasks-list project=project taskItems=sortedTasks
updateSortable='updateTasksSortIdx' addTask='createTask'
updateTask='updateTask'
removeTask='deleteTask'}}

<button {{action 'addNewTask'}} class="btn btn-link"> <i class="fa fa-plus
fa-bg" style="margin-right:5px"></i>Add New Task </button>
